<div id="<%= dom_id estimate %>">
  <h2 class="my-5 text-lg font-medium mb-1"><%= estimate.name %></h2>

  <p class="my-5">
    <div>
      <strong class="font-medium mb-1">Cut length:</strong>
      <%= estimate.length.round(1) %> <%= estimate.units %>
    </div>
    <div>
      <strong class="font-medium mb-1">Cut time:</strong>
      <%= distance_of_time_in_words(estimate.cut_time) %>
    </div>
    <div>
      <strong class="font-medium mb-1">Cut price:</strong>
      <%= estimate.cut_price.format %>
    </div>
  </p>

  <p class="my-5">
    <div>
      <strong class="font-medium mb-1">Dimensions:</strong>
      <%= estimate.width %> x <%= estimate.height %> <%= estimate.units %>
    </div>
    <div>
      <strong class="font-medium mb-1">Metal price:</strong>
      <%= estimate.metal_price.format %> (<%= estimate.metal.name %>)
    </div>
  </p>

  <p class="my-5">
    <div>
      <strong class="font-medium mb-1">Total price:</strong>
      <%= estimate.total_price.format %>
    </div>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this estimate", estimate, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
