<div id="<%= dom_id metal %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= metal.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= metal.price.format %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this metal", metal, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this metal', edit_metal_path(metal), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
